.border_ridge {border: 3px ridge ; border-color:#c5c5c5;}
.border_ridge_margin {border: 3px ridge ; border-color:#c5c5c5;padding: 0px;}
.border_top_ridge{border-top: ridge #c5c5c5; padding-bottom: 1px}
.background_color_boxes{background-color: #F5F5F5; text-align: center}
.background_color_footer{background-color: #90ee90;}
.margin{margin: 0px;}
.img_margin{margin-left: 15px; margin-top: -10px;}
.nome_redes:hover{color: red;}
a:link{color: black;}
a:hover{color: blue;}
a:visited{color: purple;}